@import "tailwindcss";

@theme {
  --color-body: #050505;
  --color-selected-text: #a3a3ff;
  --color-theme: #5c318c;
  --color-secondary: #9191a4;
  --color-badge: #3f3f51;
  --color-inputBorder: #565666;
  --color-input: #2a2a33;
  --font-poppins: "Poppins", sans-serif;
}
